body {
  background: linear-gradient(135deg, #1f2d1a, #2f6b5f);
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Segoe UI;
}

.auth-box {
  background: #fff;
  padding: 40px;
  border-radius: 14px;
  width: 100%;
  max-width: 420px;
  text-align: center;
}

.auth-logo { width: 130px; margin-bottom: 20px; }

input {
  width: 92%;
  padding: 14px;
  margin: 15px 0;
  border-radius: 8px;
  border: 1px solid #ccc;
}

button {
  width: 100%;
  padding: 14px;
  background: #2f6b5f;
  color: #fff;
  border: none;
  border-radius: 8px;
  font-weight: 600;
}
